
root {
    display: block;
}

.root {
    -fx-min-width: 600px;
    -fx-background-color: radial-gradient(center 50% -40%, radius 250%, #c2c2c2 30%, #f5f5f5 50%);
}

.tooltip{
    -fx-background-color: radial-gradient(center 50% -30%, radius 200%, #57b0ff 30%, #0080f0 50%);
    -fx-tooltip-weight: 150px;
    -fx-border-radius: 50px;
    -fx-text-fill: white;
    -fx-graphic: url ("grad.jpg");
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.text-field {
    -fx-font-family: "Arial-Black";
    -fx-font-size: 12px;
    -fx-text-fill: black;
}

#welcome-text {
    -fx-font-size : 32px;
    -fx-font-family: "Arial-Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7), 6, 0.0, 0, 2);
}

#actionTarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5), 0,0.0,0,1);

}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial-Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(rgba(36, 153, 255, 0.5), rgba(36, 153, 255, 0.9)),
                          radial-gradient(center 50% -30%, radius 200%, #57b0ff 30%, #0080f0 50%);

    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.9), 5,0.0,0,1);
    }

.table-view {
    -fx-size: 10px;
    /*-fx-column-halignment: right;*/
}

.table-view .empty-table {
    -fx-background-color: -fx-base;
    -fx-font-size: 1.166667em; /* 14pt - 2 more than the default font */
}

.table-view .column-header, .table-view .filler {
    -fx-text-fill: -fx-selection-bar-text;

    -fx-font-size: 1.083333em; /* 13pt - 1 more than the default font */
    -fx-size: 25;
    -fx-border-style: solid;
    -fx-border-color:
        /*
          Inner border: we have different colours along the top, right, bottom and left.
          Refer to RT-12298 for the spec.
        */
        derive(-fx-base, 0%)
        linear-gradient(to bottom, derive(-fx-base,80%) 60%, derive(-fx-base,-10%) 90%)
        derive(-fx-base, 20%)
        linear-gradient(to bottom, derive(-fx-base,80%) 60%, derive(-fx-base,-10%) 90%),
            /* Outer border: */
        transparent -fx-table-header-border-color -fx-table-header-border-color transparent;
    -fx-border-insets: 0 1 1 0, 0 0 0 0;
    -fx-border-width: 0.083333em, 0.083333em;
}